{% extends 'base.html.twig' %}

{% block bodyHeaderText %}Careers{% endblock %}

{% block body %}

<section class="content">
  <div class="container about">
    <div class="row">
      <div class="col">
        <h2>
          We currently have no open vacancies in the UK
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p>
          Thanks for your interest in joining the Platinum Tech Solutions team. We currently have no open vacancies for roles in the UK.
        </p>

        <p>
          However if you would like to send a copy of your CV, we will notify you as soon as an appropriate vacancy becomes available.
        </p>

        <p>
          Please send a short cover note, outlining why you’d like to join the Platinum Tech Solutions team, along with a copy of your current CV to:
          <a href="mailto:careers@platinumtechsolutions.co.uk">careers@platinumtechsolutions.co.uk</a>
        </p>
      </div>
    </div>
  </div>
</section>

{% endblock %}
