
body {
    background: #FFF;
    font-family: 'Ubuntu', sans-serif;
}

a, a:hover, a:active { color: #FFF; }

.navbar-default, .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #5a6991;
    background: #b4bed5;
    border-radius: 0;
}

.navbar-default .navbar-nav>li>a {
    color: #5a6991;
}

.navbar-default .navbar-toggle {
    float: left;
    margin: 8px;
    border-color: #5a6991;
}

.navbar-default .navbar-toggle:hover {
    background: #EEE;
}

.navbar-default .navbar-toggle .icon-bar {
    background: #5a6991;
}

.page-header {
    background: #b4bed5;
    padding: 10px;
    margin: 0;
    margin-top: 5px;
    border-radius: 5px;
}

.page-header * {
    padding: 0;
    margin: 0;
    color: #FFF;
}

.page-header small {
    color: #000;
}

#brand {
    margin-top: 60px;
    margin-bottom: 20px;
}

#brand .logo {
  margin: 0px auto;
  width: 238px;
  text-align: center;
}

#brand .logo * {
  font-weight: normal;
  color: #777;
  margin: 0;
  padding: 0;
}

#brand *:hover {
    text-decoration: none;
}

#brand .logo h1 {
  font-size: 50px;
}

#brand .logo h2 {
  font-size: 30px;
  border-top: 4px solid #777;
}

#skills .skills, .experience, #contact form {
    border-bottom: 20px solid #5a6991;
    background: #b4bed5;
    color: #FFF;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

#skills .skills {
    padding: 10px;
}

#skills .skills strong {
    color: #5a6991;
}

.experience .role {
    padding: 10px;
}

.experience .role h2,
.experience .role h3 {
    margin-top: 0;
}

.experience .role h3 small {
    color: #5a6991;
}

.experience ul {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}
.experience ul li {
    display:inline-block;
}
.experience ul.skills li {
    margin: 2px 0;
    background: #5a6991;
    color: #FFF;
    padding: 2px 5px;
    border-radius: 5px;
}
.experience ul.skills li a, .experience ul.skills li a:hover {
    color: #FFF;
    text-decoration: none;
}

#contact form {
    padding: 10px;
}

#contact form h3 {
    padding: 10px 0;
    margin: 0;
}

#contact form .submit {
    padding: 10px 0;
}

#contact form .input-group-addon {
    background: #5a6991;
    border: 1px solid #5a6991;
    color: #FFF;
}

#contact form label {
    color: #5a6991;
    margin-top: 3px;
}

#contact form input.form-control {
    border: 1px solid #5a6991;
}

#contact form .btn-primary {
    border-color: #5a6991;
    background: #5a6991;
}

#contact .thank-you,
#contact .form-errors {
    border-radius: 5px;
    margin: 10px 0;
}

#contact .thank-you *,
#contact .form-errors * {
    padding: 4px 10px;
    margin: 0;
}

#contact .thank-you * {
    text-align: center;
}

#footer {
    background: #5a6991;
    color: #FFF;
    padding: 20px;
}

#footer .bio {
    text-align: justify;
}

#footer .social {
    text-align: right;
}

#footer .avatar {
    padding: 1px;
    margin: 0 10px;
    background: #FFF;
    border-radius: 10px;
}

.copyright { text-align: center; padding: 10px; }

a, a:hover, .experience .role .links { color: #5a6991; text-decoration: none; }

ul.social, ul.links { margin: 0 0 10px 0; padding: 0; }
ul.social li, ul.links li { list-style: none; padding: 0; margin: 0; font-size: 16px; }

ul.social a, ul.social a:hover { color: #FFF; }

ul.links li { display:inline; margin-right: 10px; }

.bio .avatar { float: left; padding: 2px 8px 8px 0; }
.bio .avatar img { border-radius: 10px; border: 1px solid #FFF; }
