{% extends 'base.html.twig' %}

{% block bodyHeaderText %}Wordpress{% endblock %}

{% block body %}

<section class="content">
  <div class="container project">
    <div class="row justify-content-center">
      <div class="col">
        <div class="mx-auto logo">
          <img src="/img/projects/wordpressLogo.png" />
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
