
html {
}
body {
}

#brand {
    margin-top: 0px;
    margin-bottom: 20px;
}
  #brand .logo {
    margin: 0px auto;
    width: 238px;
    text-align: center;
  }
    #brand .logo * {
      font-weight: normal;
      color: #777;
      margin: 0;
      padding: 0;
    }
    #brand *:hover {
        text-decoration: none;
    }
    #brand .logo h1 {
      font-size: 50px;
    }
    #brand .logo h2 {
      font-size: 30px;
      border-top: 4px solid #777;
    }

.footer-cta {
  background-color: #5A6991;
  color: #FFFFFF;
  text-align: center;
  padding: 50px 0;
}
  .footer-cta .row h3 {
    line-height: 2.4rem;
  }
.footer {
  background-color: #55595b;
  color: #FFFFFF;
  padding: 75px 0 45px 0;
  clear: both;
  font: 300 14px/22px 'Helvetica Neue',Helvetica,Arial,sans-serif;
  letter-spacing: 2px;
}
  .footer a, .footer a:hover {
    color: #FFFFFF;
  }
  .footer h3 {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 15px;
  }
  .footer * {
    font-size: 1rem;
    line-height: 1.5rem;
  }

.copyright {
  background-color: #333;
  color: #ccc;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 10px 0;
  font-weight: 300;
}
  .copyright a {
    color: #ccc;
  }
