{% extends 'base.html.twig' %}

{% block bodyHeaderText %}About{% endblock %}

{% block body %}

<section class="content">
  <div class="container about">
    <div class="row">
      <p>
        Platinum Tech Solutions was founded in November 2015 with the goal of
        "Improving the internet one website at a time." Our highly skilled team
        build and deliver bespoke web applications and sytems written technology
        best suited for each application. We use modern frameworks and technology
        to drive innovation and optimistaion of existing systems. As well as
        offer guidence when needed to help direct existing companies and teams
        to build and deliver the best software they can, with the resources
        they have.
      </p>
    </div>
    <div class="row">
      <p>
        Experts in PHP, Symfony, ElasticSearch and AWS we can deep dive into
        existing code and systems and provide insights into possible Security
        issues or improvements within days.
      </p>
    </div>
    <div class="row">
      <p>
        If you want to work with us then please look at our
        <a href="{{ path('about_careers' )}}">Careers</a> page for a list of our
        current open positions.
      </p>
    </div>
  </div>
</section>

{% endblock %}
