<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="{% block meta_description %}Platinum Tech Solutions{% endblock %}" />
    <meta name="keywords" content="{% block meta_keywords %}PHP, Symfony, ElasticSearch, AWS, Security Consultants{% endblock %}" />
    <meta name="author" content="{% block meta_author %}Platinum Tech Solutions Limited{% endblock %}" />

    <title>{% block title %}Platinum Tech Solutions{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Style -->
    <link href="/css/style.css" rel="stylesheet" />

  </head>
  <body>
    <nav class="navbar navbar-expand-md fixed-top">
      Platinum Tech Solutions
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('contact') }}">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

{% block body %}{% endblock %}

    <section class="contact-info">
      <div class="container">
        <div class="row">
          <div class="col">
            <h2 class="text-center">Contact Us</h2>
            <h3 class="text-center">Want to discuss a project or say hello?</h3>
          </div>
        </div>
      </div>

      <div class="contact-image"></div>

      <div class="container">
        <div class="row">
          <div class="col-lg-4 text-center">
            <h4>Telephone</h4>
            <p><a href="tel:+447905323168">+44 (0) 7905 323 168</a></p>
          </div>
          <div class="col-lg-4 text-center">
            <h4>Address</h4>
              <p>10 Belgrave Close,<br>Rayleigh,<br>Essex, SS6 9GD</p>
          </div>
          <div class="col-lg-4 text-center">
            <h4>Project Enquiry</h4>
            <p>Want to talk to us about a project?<br>
              Contact us <a href="{{ path('contact') }}">here</a></p>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="container">
        <div class="row text-center copyright">
          <div class="col">
            <div>&copy; 2015-{{ "now"|date("Y") }} Platinum Tech Solutions Limited.</div>
            <div>Company Registration Number: 09821328</div>
            <div>VAT Number: GB 225 4503 33</div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112067714-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-112067714-1');
    </script>

    {% block javascripts %}{% endblock %}

  </body>
</html>
