{% extends 'base.html.twig' %}

{% block body %}

<section class="content-header">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="text-center">Contact Us</h1>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-5">
        <div class="contact-sidebar">
          <div class="social-stuff">
            <ul class="social-list-stacks">
            </ul>
            <div class="clear"></div>
          </div>
          <h3>Interested in working with us?</h3>
          <p>If you’d like to talk to us about a project or receive a quote, get in touch!</p>
          <h3>Telephone</h3>
          <p><a href="tel:+447905323168">+44 (0) 7905 323 168</a></p>
          <h3>Email Address</h3>
          <p><a href="mailto:contracts@platinumtechsolutions.co.uk">contracts@platinumtechsolutions.co.uk</a></p>
          <h3>Address</h3>
          <p>10 Belgrave Close<br>
          Rayleigh<br>
          Essex, SS6 9GD, UK</p>
          <p>Company Registration Number: 09821328<br>
          VAT registration no. 225 4503 33</p>
          <div class="clear"></div>
          </div>
      </div>
      <div class="col-lg-5 contact-form">
        <form class="contact-form form-horizontal" action="#" method="post">

        </form>
      </div>
      <div class="col-lg-1 contact-form"></div>
      </div>
  </div>
</section>

{% endblock %}
