{% extends 'base.html.twig' %}

{% block body %}

<section class="content-header">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="text-center">Contact Us</h1>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae fermentum dui. Phasellus tellus metus, venenatis ut magna vel, dictum
        elementum ligula. Proin porta metus at tempus lacinia. Nulla magna purus, tincidunt vitae arcu ac, consequat ullamcorper est. Vestibulum at est
        blandit, iaculis velit nec, luctus libero. Quisque quis ex purus. Mauris sagittis, mauris eu luctus suscipit, nisl risus semper urna, at efficitur
        est elit ut justo. Fusce ac leo id est vestibulum elementum a ac sem. Nulla vel faucibus quam.</p>
      </div>
      <div class="col-lg-6 contact-form">
        <h3>Contact form here...</h3>
      </div>
    </div>
  </div>
</section>

{% endblock %}
