{% extends 'base.html.twig' %}

{% block footerCTA %}{% endblock %}

{% block bodyHeaderText %}Contact Us{% endblock %}

{% block body %}

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-5">
        <div class="contact-sidebar">

          <h3>Interested in working with us?</h3>
          <p>If you’d like to talk to us about a project or receive a quote, get in touch!</p>

          <h3>Telephone</h3>
          <p><a href="tel:+447905323168">+44 (0) 7905 323 168</a></p>

          <h3>Email Address</h3>
          <p><a href="mailto:contracts@platinumtechsolutions.co.uk">contracts@platinumtechsolutions.co.uk</a></p>

          <h3>Address</h3>
          <p>
            The Grove<br />
            20 Broad Walk<br />
            Hockley<br />
            Essex, SS5 5DD
          </p>

          <p>Company Registration Number: 09821328</p>

          <p>VAT registration no. 225 4503 33</p>


          <div class="social-links">
            <a target="_blank" href="https://www.linkedin.com/in/carlcasbolt"><i class="fa fa-linkedin"></i></a>
            <a target="_blank" href="https://github.com/carlcasbolt"><i class="fa fa-github"></i></a>
            <a target="_blank" href="https://twitter.com/carlcasbolt"><i class="fa fa-twitter"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-5 contact-form">
        {% if success %}
          <div class="text-center" style="padding: 30px;">
            <h3>Thank you for you email!</h3>
            <p>We will be in touch shortly, if you want to send another message:</p>
            <p><a class="btn btn-info btn-sm" href="{{ path('contact') }}" role="button">click here</a></p>
          </div>
        {% else %}
          {{ form_start(contact_form) }}
          {{ form_widget(contact_form) }}

          <button id="submit" name="submit" class="btn btn-info pull-right">Submit Form</button>

          {{ form_end(contact_form) }}
        {% endif %}
      </div>
      <div class="col-lg-1 contact-form"></div>
      </div>
  </div>
</section>

{% endblock %}
