{% extends 'base.html.twig' %}

{% block bodyHeaderText %}Projects{% endblock %}

{% block body %}

<section class="content">
  <div class="container projects">
    <div class="row">
      <div class="col">

      </div>
    </div>
  </div>
</section>

{% endblock %}
